.favorite-empty {
    min-height: 300px;
}

.favorite-empty-icon {
    width: 90px;
    height: 90px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #f8f9fa;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2.5rem;
    color: #6c757d;
}