<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow-sm border-0">
                <div class="card-body p-4">
                    <h2 class="text-cwnter mb-4">
                        Iniciar sesión
                    </h2>
                    <p class="text-center text-muted mb-4">
                        Ingresar a tu cuenta para continuar
                    </p>
                    @if (errorMessage) {
                        <div class="alert alert-danger">
                            {{ errorMessage }}
                        </div>
                    }
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <!-- Correo -->
                        <div class="mb-3">
                            <label for="email" class="form-label">
                                Correo electrónico
                            </label>
                            <input id="email" type="email" class="form-control" formControlName="email" placeholder="ejemplo@correo.com">
                            @if (loginForm.controls.email.touched && loginForm.controls.email.invalid) {
                                <div class="text-danger small mt-1">
                                    Ingresar un correo electrónico válido.
                                </div>
                            }
                        </div>

                        <!-- Contraseña -->
                        <div class="mb-4">
                            <label for="password" class="form-label">
                                Contraseña
                            </label>
                            <input id="password" type="password" class="form-control" formControlName="password" placeholder="Ingresa tu contraseña">
                            @if (loginForm.controls.password.touched && loginForm.controls.password.invalid) {
                                <div class="text-danger small mt-1">
                                    La contraseña es obligatoria.
                                </div>
                            }
                        </div>

                        <!-- Botón -->
                        <button type="submit" class="btn btn-primary w-100">
                            Iniciar sesión
                        </button>
                    </form>
                    <div class="text-center mt-4">
                        <span class="text-muted">
                            ¿No tienes una cuenta?
                        </span>
                        <a routerLink="/register" class="text-decoration-none ms-1">
                            Crear cuenta
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>